.Main_div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 10px solid rgb(91, 89, 89);
    color: white;
    border-radius: 4vh;
    background-color: antiquewhite;
    margin: 5vh 5vh;
}
.challenge{
    border: 6px solid white;
    margin: 20% 20%;
    background-color: rgb(24, 23, 23) ;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5vh;
overflow: hidden;
}

p{
    font-size: xx-small;
}.description{
    font-size: small;
    color: rgb(241, 151, 151);
    text-decoration: underline;
}
.tag b{
    color: rgb(241, 151, 151);
    text-decoration: underline;
    font-size: medium;
}.btn{
    height: 5vh;
    width: 9vh;
}